html {
		background: url(https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/005/05f/1d2/103cdd5.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
		
/*div{
	
}

.k{
	
	
}

#kislife{
	
	
}*/
